@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~bootstrap/scss/bootstrap';

body {
  background-color: antiquewhite;
  color: brown;
  text-align: center;
  margin-top: 100px;
}

.buttonRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2.5%;
}

.btn-success{
  background-color: brown;
}


.btn-success:hover{
  background-color: brown;
}

.btn-success:focus{
  background-color: brown;
}

.btn-success:active{
  background-color: brown;
}
